doctype html
html
    include ../includes/head.pug
    body
        h1 Lecture 1 - Perspektivische Projektion
        img(src='data/images/perspektivische-projektion.png' alt='img not found')
        p Zentralprojektion
            ul
                li Festgelegt durch Projektionszentrum(CoP,center of projection)
                li Parallele Geraden, die nicht parallel zurProjektionsebene verlaufen, werden auf sichschneidende Geraden abgebildet
                li Verzerrte Darstellung von Objekten imBildraum
                li Verkleinerung dargestellter Objekte mitzunehmender Entfernung vomProjektionszentrum
                li Skalierung der Objekte geht verloren(außer dort, wo das Objekt dieProjektionsebene schneidet)
                li Vermittlung realistischer Ansichtendreidimensionaler Objekte und Raumeindruck
            #container