doctype html
html
    include ./includes/head.pug
    body
        h1.h1 Lecture 1 - Perspektivische Projektion
        //img(src='img/perspektivische-projektion.png' alt='img not found' style="max-width: 30%")
        // https://github.com/Microsoft/monaco-editor/issues/794 for editor layout fix
        p 
            h4 Zentralprojektion
            ul
                li Festgelegt durch Projektionszentrum(CoP, center of projection)
                li Parallele Geraden, die nicht parallel zur Projektionsebene verlaufen, werden auf sich schneidende Geraden abgebildet
                li Verzerrte Darstellung von Objekten im Bildraum
                li Verkleinerung dargestellter Objekte mit zunehmender Entfernung vom Projektionszentrum
                li Skalierung der Objekte geht verloren (außer dort, wo das Objekt die Projektionsebene schneidet)
                li Vermittlung realistischer Ansichten dreidimensionaler Objekte und Raumeindruck
            #container